@import 'root.css';

* {
    box-sizing: border-box;
}



.accueilContainer {
    padding: 20px;
    display: flex;
}

#partie1{
    width: 48%;
}
.titrejeu {
    margin-top: 70px;
    font-family: var(--police-h1);
    color: var(--color-white);
    font-size: 32px;

}


.Resume p {
    color: var(--color-white);
    font-size: 18px;
    width: 60%;
    text-align: justify;
   
}

#label{
    font-size: 24px;
}
#pseudo_hote{
    border:  2px solid var(--color-second);
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    height: 40px;
    padding-left: 10px;
    transition: border-color 0.3s; /* Ajout de transition pour une animation fluide */
}
#gifaccueil{
    width: 48%;
}

#gifaccueil img {
    border-radius: 12px;
    width: auto;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre douce */
}

.bouttons {
    display: flex;
    margin-top: 20px;

}


.itembouton {
    background-color: var(--color-first);
    color: var(--color-white);
    border: 2px solid var(--color-white);
    display: block;
    font-family: inherit;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    width: 200px; /* Ajustez la largeur en fonction de vos besoins */
    margin-bottom: 10px;
    cursor: pointer;
    margin-right: 50px;
}


.itembouton:hover {
    background-color: var(--color-five);
}
