@import 'root.css';


*{
    box-sizing: border-box;
}


body{
    position: relative;
    background: var(--color-background);
    font-family: var( --police-h2);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    overflow: auto;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-white);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,.5);
    width: 70%;
    max-width: 100%;
}
.header{
    background: var(--color-five);
    border-radius: 10px;
    color:var(--color-white);
    border-bottom: 1px solid var(--color-second);
    padding: 20px 40px;
}
.header h2{
    margin: 0;
    text-align: center;
   
}

.bouton-container a{
  color:var(--color-error)
}
.form{
    padding: 30px 40px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input{
    border:  2px solid var(--color-second);
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    transition: border-color 0.3s; /* Ajout de transition pour une animation fluide */
}

.form-control input:focus {
    border-color: var(--color-first); /* Changement de la couleur de la bordure au focus */
}

.form-control i{
    position: absolute;
    top: 33px;
    right: 10px;
    visibility: hidden;
}
.form-control small{
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}
.form button{
    background: var(--color-first);
    border: none;
    color: var(--color-white);
    display: block;
    font-family: inherit;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    width: 20%;
    cursor: pointer;
}
.form button:hover{
    background-color:var(--color-hover)
}



.form .bouton-container {
    display: flex;
    justify-content: space-between;
}


.form-control.success input{
    border-color: var(--color-success);
}
.form-control.error input{
    border-color: var(--color-error);
}
.form-control.success i.fa-check-circle{
    color: var(--color-success);
    visibility: visible;
}
.form-control.error i.fa-exclamation{
    color: var(--color-error);
    visibility: visible;
}
.form-control.error small{
    color: var(--color-error);
    visibility: visible;
}



.form-control #regle {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  #regle input[type="radio"] {
    display: none; /* Masquer les boutons radio par défaut */
  }
  
  #regle label {
    position: relative;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: var(--color-second);
    color: #fff;
    cursor: pointer;
    margin-right: 50px;
  }

  #regle label:hover{
    background-color: var(--color-hover);
  }
  
  #regle input[type="radio"]:checked + label {
    background-color:var(--color-five); /* Couleur différente lorsque sélectionné */
  }
  
 
  #popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width:500px;
    height: auto;
    border-radius: 15px;
   

  }

  #popup p{
    color: #000;
    width: auto;
  }

  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  #bouton-ok {
    background: var(--color-first);
    border: none;
    color: var(--color-white);
    display: block;
    font-family: inherit;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    width: 20%;
    cursor: pointer;

  }

  #bouton-ok:hover{
    background: var(--color-hover);
  }
  .form-control textarea{
    border:  2px solid var(--color-second);
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
    height: 100px;
    padding-left: 10px;
    transition: border-color 0.3s;

  }