@import 'root.css';

.pContainer {
    box-sizing: border-box;
    box-shadow: 0px 3px 3px #444444;
    border-radius: 2%;
    width: 80%;
    padding: 25px;
    background: var(--color-degrade);
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh; /* Pour centrer verticalement sur toute la hauteur de la page */
    margin: 50px auto; /* Pour centrer horizontalement */
}

.mainContent{
   width: 100%;
}

.profileName {
    align-self: flex-start; /* Alignement à gauche */
}

.newPart {
    margin-top: 20px;
    text-align: center; /* Alignement au centre */
}


.partTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.partTable th, .partTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.partTable th {
    background-color: #f2f2f2;
}

.downloadBtn {
    margin-left: 10px;
}

.newPart button{
    background: var(--color-hover);
    border: none;
    color: var(--color-white);
    font-family: inherit;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
.newPart button:hover{
    background: var(--color-first);
cursor: pointer;}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile h2 {
    margin-left: 10px; /* Espacement entre l'icône et le nom */
}

.logout a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333; /* Couleur du texte du lien, adaptez selon votre design */
}

.logout img {
    margin-right: 5px; /* Espacement entre l'icône et le texte */
}
