/* variables css */

:root {
    --color-degrade1: linear-gradient(#fff,#b8a6da);
    --color-degrade: linear-gradient(to right, var(--color-first), var(--color-five));
    --color-first: #5680E9;
    --color-second: #84CEEB;
    --color-third: #5AB9EA;
    --color-four: #dab0d7b0;
    --color-hover: #906bd3;
    --color-five: #b8a6da;
    --color-white: #fff;
    --color-success: #2ecc71;
    --color-error: #e74c3c;
    --police-h1: 'Roboto', sans-serif;
    --police-h2: 'Montserrat', sans-serif;
    --police-p: 'Arial', sans-serif;
    --color-background: url('../asset/background.jpg');
}
